In [27]:
import pandas as pd
import numpy as np

In [28]:
file_path = r"../data/raw/xiaomi.csv"
df = pd.read_csv(file_path)
df

,username,content,likecount,date
0,SupremeWow,小米su7强势破圈太火爆了，雷总得抓紧提高产能啊,3025,2024/3/30 12:22
1,及米侠,感觉这次黑稿不太多，看来车圈还是更干净一些！,1725,2024/3/30 12:23
2,小麦Elite,小米手机1代回忆～,1020,2024/3/30 12:22
3,米12U,雷总辛苦了 感谢您为大家做了一辆Dream car,660,2024/3/30 12:22
4,Spider_boy666,雷总加电,650,2024/3/30 12:23
...,...,...,...,...
4568,春夏秋冬湖,欢迎雷军�,0,2024/5/18 19:58
4569,四季的暖窝,雷总，能不能发售ARE U OK大字母 运动包 能不能开MI家HOTEL，用SU7接送客人到MI家,0,2024/5/18 19:48
4570,米粉玩车局,中国平安的平安车险，未经本人允许，滥用本人姓名、电话、身份证信息，连续一个月车险客服电话骚扰...,0,2024/5/18 17:45
4571,浦东机场上空的轰鸣,不想体验你们的最新科技，雷嗨,0,2024/5/18 17:42
4572,阿罗君君19759,歌手2024,1,2024/5/18 17:21

In [29]:
df.dtypes

username     object
content      object
likecount     int64
date         object
dtype: object

In [30]:
df['likecount'].describe()

count    4573.000000
mean        5.428165
std        85.513341
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max      3025.000000
Name: likecount, dtype: float64

In [31]:
null_users = df['username'].isnull().sum()
null_users
# np.int64(0)--> no null

np.int64(0)

In [32]:
null_likes = df['likecount'].isnull().sum()
null_likes

np.int64(0)

In [33]:
null_times = df['date'].isnull().sum()
null_times

np.int64(0)

In [34]:
null_comments = df['content'].isnull().sum()
null_comments

np.int64(465)

In [35]:
# Delete all rows where the 'content' contains null values
df = df.dropna()
df

,username,content,likecount,date
0,SupremeWow,小米su7强势破圈太火爆了，雷总得抓紧提高产能啊,3025,2024/3/30 12:22
1,及米侠,感觉这次黑稿不太多，看来车圈还是更干净一些！,1725,2024/3/30 12:23
2,小麦Elite,小米手机1代回忆～,1020,2024/3/30 12:22
3,米12U,雷总辛苦了 感谢您为大家做了一辆Dream car,660,2024/3/30 12:22
4,Spider_boy666,雷总加电,650,2024/3/30 12:23
...,...,...,...,...
4568,春夏秋冬湖,欢迎雷军�,0,2024/5/18 19:58
4569,四季的暖窝,雷总，能不能发售ARE U OK大字母 运动包 能不能开MI家HOTEL，用SU7接送客人到MI家,0,2024/5/18 19:48
4570,米粉玩车局,中国平安的平安车险，未经本人允许，滥用本人姓名、电话、身份证信息，连续一个月车险客服电话骚扰...,0,2024/5/18 17:45
4571,浦东机场上空的轰鸣,不想体验你们的最新科技，雷嗨,0,2024/5/18 17:42
4572,阿罗君君19759,歌手2024,1,2024/5/18 17:21

In [36]:
# Count the total number of duplicate rows
duplicate_rows = df.duplicated().sum()
format(duplicate_rows)

'517'

In [37]:
df = df.drop_duplicates()
df

           username                    content  likecount             date
0        SupremeWow   小米su7强势破圈太火爆了，雷总得抓紧提高产能啊       3025  2024/3/30 12:22
1               及米侠     感觉这次黑稿不太多，看来车圈还是更干净一些！       1725  2024/3/30 12:23
2           小麦Elite                  小米手机1代回忆～       1020  2024/3/30 12:22
3              米12U  雷总辛苦了 感谢您为大家做了一辆Dream car        660  2024/3/30 12:22
4     Spider_boy666                       雷总加电        650  2024/3/30 12:23
...             ...                        ...        ...              ...
4180     我在梦里见过你821                   红米还出汽车吗？          0  2024/3/30 12:22
4182        夏天的尾巴_Z               小米fold3为啥造的？          0  2024/3/30 12:22
4183         My咪西mi                        suv          0  2024/3/30 12:22
4185            缘郎君                   来了来了，雷总。          0  2024/3/30 12:22
4187   用户6702293896                         第一          1  2024/3/30 12:21

[3591 rows x 4 columns]